{% extends 'base.html' %}
{%block title%}ABOUT 
{%endblock title%}
{% block body %}

<body 
<main class="flex-shrink-0 bg-black">
    <p style="background-image: url('static/bevelled.jpg');"> 
    <div class="container -fluid"> 
      <h1 class="mt-5"></b> <FONT COLOR=WHITE> ABOUT OUR BUSINESS <FONT COLOR=WHITE></b> </h1>
      <p class="lead">WE  DESIGN AND MANUFACTURE BEST QUALITY FANCY BATHROOM MIRRORS WITH HOOKS BESIDE IT TO HANG ON THE WALL, WE OFFER VARIETY OF DESIGNS TO CHOOSE FROM 
        INCLUDING MIRROR WITH L.E.D. LIGHTS, WE MAKE SURE TO PROVIDE THE BEST SERVICE TO OUR CUSTOMERS. WE HAVE BEEN IN THIS BUSINESS SINCE 17 YEARS. <FONT COLOR= WHITE></p> <hr>
      <p>ADRESS: 39/40 BHAI DITT SINGH NAGAR, JALANDHAR, PUNJAB. <hr>
         CONTACT: +919780749343 </p>
    </div>
  </main>
    
   
      </footer>
    </div>
    
    
        
      
    
    </body>
{%endblock body%}