<div class="container-fluid bg-black">
{% extends 'base.html' %}
{%block title%} BEVELLED
{%endblock title%}
{% block body %}
<div class="container bg-black">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-1">
     <div class="col">
       <div class="card shadow-sm">
           <img src="static/mirror5.webp" class="d-block w-30" alt="image" height="340" width="420">
         <div class="card-body">
           <p class="card-text">FRAMELESS BEVELLED MIRROR</p>
           <div class="d-flex justify-content-between align-items-center">
             <div class="btn-group">
               </div>
             <small class="text-muted">9 mins</small>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card shadow-sm">
           <img src="static/mirror6.webp" class="d-block w-30" alt="image" height="340" width="420">
         <div class="card-body">
           <p class="card-text">SQUARE BEVELLED MIRROR</p>
           <div class="d-flex justify-content-between align-items-center">
             <div class="btn-group">
               
             </div>
             <small class="text-muted">9 mins</small>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card shadow-sm">
           <img src="static/bevelled.jpg" class="d-block w-30" alt="image" height="340" width="420">  
         <div class="card-body">
           <p class="card-text">BEVELLED OVAL SHAPED MIRROR </p>
           <div class="d-flex justify-content-between align-items-center">
             <div class="btn-group">
       
             </div>
             <small class="text-muted">9 mins</small>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card shadow-sm">
           <img src="static/bevelled2.webp" class="d-block w-30" alt="image" height="340" width="420">
         <div class="card-body">
           <p class="card-text">BEVLLED MIRROR WITH ROUNDED CORNERS</p>
           <div class="d-flex justify-content-between align-items-center">
             <div class="btn-group">
               
{%endblock body%}